* {
    padding: 0;
    margin: 50px;
    box-sizing: border-box;
}

h2{
    text-align: center;
}

.box {
    margin: 60px auto;
    width: 150px;
    height: 150px;
    position: relative;
    background: rgb(157, 230, 12);
    transform: rotate(90deg);
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    
    
}


.with-circle::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 45px;
    right: 80%;
    top: 54px;
    border-radius: 50%;
    background-color: rgb(157, 230, 12);
    
    

}

.with-triangle::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 55px;
    border-top: 20px solid transparent;
    border-right: 20px solid rgb(157, 230, 12);
    border-bottom: 20px solid transparent;

}